* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
    background: transparent;
    cursor: grab;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 45%,rgba(0,0,0,1) 45%,rgba(0,0,0,1) 55%, rgba(0,0,0,0) 55%,rgba(0,0,0,0) 100%);
}

html {
    font-family:'Open Sans', Arial;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(125, 128, 128, 0.5);
}

body {
    overflow-x: hidden;
    overflow-y: overlay;
    font-size: clamp(12px, 12px + 0.6vw, 18px);
    line-height: 1.7;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 45%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 55%, rgba(0,0,0,0) 55%,rgba(0,0,0,0) 100%);
    border-left: 0px dotted transparent;
    border-right: 0px dotted transparent;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 65%, rgba(0,0,0,0) 65%,rgba(0,0,0,0) 100%);

}

header {
    color: #fff;
    position: relative;
    padding: 70px 80px 12vh 80px;
    background-color: black;
}

header hr {
    margin: 6vh;
    border: unset;
}

header nav {
    margin: 0 auto;
    max-width: 1400px;
}

header ::selection {
    background: white;
    color: black;
}

header .navigation {
    display: grid;
    grid-template-columns: 1fr repeat(4, 0.7fr) 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

header .navigation.main.mobile {
    display: none;
}

header .navigation a {
    text-decoration: none;
    max-width: max-content;
    height: 55px;
}

header .navigation a.active {
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}

header .navigation a:hover {
    border-bottom: 1px dotted white;
    margin-bottom: -1px;
}

header .navigation a p {
    color: white;
    font-family: "Open Sans", Arial;
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
    line-height: 1.3;
}

header .navigation a p.light {
    font-weight: 300;
}

header .navigation .main {
}

header .navigation .secondary {
}

header .body {
    display: grid;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
}

header .body .container {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 60px;
}

header .body .container .cpu-image {
    width:70vh;
    margin-left: 10vh;
}

header .body .container .cpu-code {
    display: block;
    font-size: clamp(5px, 5px + 0.3vw, 12px);
    line-height: 1.3
}

header .body .container .cmos-image {
    height: min(11vw, 220px);
}

header .body .container .item1 {
   display: flex;
   grid-column-start: 1;
   grid-row-start: 1;
   justify-content: start;
   display: none;
}

header .body .container .item1 ul {
   margin: 0;
   list-style-type: none;
   padding: 0;
}

header .body .container .item1 ul li {
   padding-bottom: 10px;
}

header .body .container .item1 ul a {
    color: white;
    text-decoration: none;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
}

header .body .container .item2 {
   grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    align-self: start;
    justify-self: center;
}

header .body .container .item3 {
   display: grid;
    justify-content: start;
    padding-bottom: 70px;
}

header .body .container .item4 {
   align-self: end;
}

header .body .overlay2 {
   background: black;
   right: 0;
   left: 0;
   margin: 0 auto;
   bottom: 0;
   padding: 20px 0;
   padding: 35px 20px;
   margin-top: 12vh;
   max-width: 1140px;
}

header .body .overlay2 h1 {
    font-size: clamp(12px, 12px + 0.6vw, 20px);
    line-height: 1.7;
    font-weight: 400;
    text-transform: uppercase;
}

header .body .overlay2 p {
    font-size: clamp(12px, 12px + 0.6vw, 18px);
    line-height: 1.7;
    font-weight: 400;
    text-transform: uppercase;
}

header .body .overlay2 .container2 {
    margin-top: 30px;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 0px;
    display: grid;
}

header .body .overlay2 .container2 p.label {
    font-size: clamp(12px, 12px + 0.6vw, 18px);
    line-height: 1.7;
    font-weight: 400;
    text-transform: uppercase;
}

header .body .overlay2 .container2 p {
    font-size: clamp(12px, 12px + 0.6vw, 18px);
    line-height: 1.7;
    font-weight: 300;
    text-transform: none;
    margin-bottom: 1rem;
}

header .body .overlay2 .container2 ol,
header .body .overlay2 .container2 ul {
    padding-inline-start: 17px;
}

main {
    background: white;
    color: black;
    padding: 12vh 80px;
}

main .body {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

main .part {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

main .part h2 {
    font-weight: 600;
    font-size: 100px;
    text-transform: uppercase;
}

main .part p {
    margin-bottom: 18px;
}

main .part .container {
    margin-top: 50px;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 0px;
    display: grid;
}

main .part .container.type1 {
    margin-top: 30px;
}

main .part .container.type2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 120px;
    margin: 5rem 0;
}

main .part .container.type2 h3 {
    font-weight: 600;
    font-size: 35px;
    margin-block-end: 1.2em;
    margin-block-start: 0.5em;
    text-transform: uppercase;
}

main .part .container.type2 .sub-container {
    position: relative;
    padding-bottom: 120px;
}

main .part .container.type2 .sub-container .link-container {
    position: absolute;
    bottom: 0;
}

main .part .container.type3 {
    grid-template-columns: repeat(2, 1fr);
    margin: 5rem 0;
    grid-column-gap: 120px;
}

main .part .container.type3:first {
    margin-top: 140px;
}

main .part .container.type3 h3 {
    font-weight: 600;
    font-size: 35px;
    margin-block-end: 1.2em;
    margin-block-start: 0.5em;
    text-transform: uppercase;
}

main .part .container p.label {
    text-transform: uppercase;
    font-weight: 600;
}

main .part .container ol {
    padding-inline-start: 17px;
}

main .part a {
    text-decoration: 1px underline dashed;
    color: black;
    text-underline-offset: 1px;
}

main .part a:hover {
    text-decoration: 1px underline solid;
}

main .part a.anchor {
    text-decoration: none;
}

main .part a.anchor:hover {
    text-decoration: none;
}

main .part sup {
    line-height: 1.3;
}

main .part ol {
    padding-inline-start: 17px;
}

main .part .link-container {
    margin-top: 60px;
}

main .part .link-container a {
    display: inline-block;
    background-color: black;
    padding: 0.25rem 0.75rem;
    font-weight: 600;
    line-height: 1.25;
    color: white;
    font-size: 16px;
    margin-right:20px;
    text-decoration: unset;
    text-transform: uppercase;
}

main .part .link-container a span {
    margin-left:5px;
}

main .part .tooltip {
    position: relative;
    display: inline-block;
    background: black;
    color: white;
    width: 13px;
    text-align: center;
    border-radius: 120px;
    font-size: 10px;
    font-weight: 600;
    cursor: help;
}

main .part .introduction {
    font-size: 25px;
    line-height: 1.7;
    margin-top: 115px;
    margin-bottom: 50px;
    font-weight: 600;
    text-transform: uppercase;
}

main .body .wrapper2 {
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 115px;
    grid-column-gap: 120px;
}

main .body .wrapper .item1 {
   grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    align-self: start;
    justify-self: end;
}

main hr {
    margin: 150px auto;
    border: none;
    height: 2px;
    /*border-bottom: 2px dotted black;*/
    /* transform: skewY(2.5deg); */
    display: block;
    width: 50%;
}

main ::selection {
    background: black; /* WebKit/Blink Browsers */
    color: white;
}

footer {
    background: black;
    color: #fff;
    padding: 12vh 80px 6vh;
}

footer .link-container {
    margin: 60px auto 0;
    width: max-content;
}

footer .link-container a {
    display: inline-block;
    background-color: black;
    padding: 0.25rem 0.75rem;
    font-weight: 600;
    line-height: 1.25;
    color: white;
    font-size: 16px;
    margin-right:20px;
    text-decoration: unset;
    text-transform: uppercase;
}

footer .link-container img {
    padding: unset;
    border: unset;
}

footer .body {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    padding-bottom: 72px;
    border-bottom: 1px solid;
}

footer .body .part {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

footer .body .part .container {
    display: grid;
    grid-template-columns: 1.2fr 0.6fr 0.6fr 0.6fr;
    grid-column-gap: 115px;
}

footer .body .part .container h3 {
    font-size: clamp(12px, 12px + 0.6vw, 18px);
    line-height: 1.7;
    font-weight: 700;
}

footer .body .part .container p {
    font-size: clamp(12px, 12px + 0.6vw, 18px);
    line-height: 1.7;
}

footer .body .part .container ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-end: 0em;
    margin-top: 10px;
}

footer .body .part .container ul li {
    padding: 9px 4px 9px 0px;
}

footer .body .part .container ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

footer .body .part .container img {
    padding: unset;
    border: unset;
    margin-top: 10px;
}


h1 {
    font-family: "Open Sans", Arial;;
    font-weight: 700;
    font-size: 107px;
}

img {
    border: 1px solid;
    padding: 20px;
    background: black;
}

pre {
    border: 1px solid;
    padding: 20px;
    background: black;
}



.overlay {
    position: absolute;
    color: white;
    padding: 25px 20px;
    top: 12vh;
    left: 0vw;
    line-height: 1.4;
    z-index: 1;
    max-width: min(20vw, 370px);
    background: black;
}

.overlay h2 {
    padding: 0;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 25px;
}

.label-link {
    display: inline-block;
    background-color: #000;
    padding: 0.25rem 0.75rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.25;
    color: white;
    font-family: "Open Sans", Arial;;
    margin: 0;
    font-size: 16px;
    text-decoration: none;
}

.ol-zoom {
    background-color: black !important;
    border-radius: 0 !important;

}

.ol-control button {
    background-color: black !important;
}

.ol-attribution.ol-uncollapsible {
    background: white !important;
    border-radius: 0 !important;
    bottom: 0.5em !important;
    right: 0.5em !important;
    border: 1px solid black;
}

.ol-attribution li {
    color: black !important;
}

.ol-attribution a {
    color: black !important;
}


.donations {
    display: block;
    grid-template-columns: 1fr 1fr;
    border: 1px #000 solid;
    padding: 60px;
    margin: 120px 80px;
}

.tabs
{
	position: relative;
	clear: both;
    padding: 20px;
}

.tabs .tab
{
	float: left;
}

.tabs .tab .content
{
	position: absolute;
	background-color: white;
	left: 20px;
	width: 100%;
    margin-top: 40px;
}

.checkboxtab
{
	display: none;
}

.tab label
{
    font-family: "Open Sans", Arial;;
    margin: 0;
    font-size: 16px;
    margin-right: 40px;
    margin-top: 20px;
    display: block;
    line-height: 1.25;
    padding: 0.25rem 0.75rem;
    cursor: pointer;
}

.checkboxtab:checked ~ label
{
    background-color: #000;
    font-weight: 600;
    color: #fff;
    color: white;
    font-family: "Open Sans", Arial;;
}

.checkboxtab:checked ~ .content
{
	z-index: 1;
}

summary {
    display: flex;
    background: none;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    flex-direction: row;
    padding: 1.5rem 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 2.5rem;
    text-decoration: none;
    border-bottom: 1px solid;
    font-weight: 600;
    font-family: "Open Sans", Arial;;
}

summary:hover {
    text-decoration: 1px underline dotted;
    text-underline-offset: 10px;
}

details[open] {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid;
}

details[open] summary {
    padding-bottom: 1.5rem;
    border-bottom: unset;

    text-decoration: 1px underline solid;
    text-underline-offset: 10px;
}

.tabbed {
	overflow-x: hidden; /* so we could easily hide the radio inputs */
	padding-bottom: 16px;
    clear: both;
    margin-top: 30px;
}

.tabbed [type="radio"] {
	/* hiding the inputs */
	display: none;
}

.tabs {
	display: flex;
	align-items: stretch;
	list-style: none;
	padding: 0;
	border-bottom: 1px solid #000;
    margin-block-end: 0em;
}
.tab > label {
	display: block;
	margin-bottom: -1px;
	padding: 12px 15px;
	border: 1px dotted #fff;
    border-bottom: 1px solid #000;
	background: #fff;
	color: #000;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	cursor: pointer;
	transition: all 0.1s;
    margin-right: 0px;
    line-height: 1.25;
    padding: 0.75rem 2.25rem;
}
.tab:hover label {
	border-top-color: #000;
	color: #000;
    border: 1px dotted;
    border-bottom: 1px solid;
}

.tab-content {
	display: none;
	color: #000;
}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label {
    border: 1px solid #000;
	border-bottom-color: #fff;
	border-top-color: #000;
	background: #fff;
	color: #000;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
	display: block;
    padding: 40px 0;
}


table {
     border-collapse: collapse;
     max-width: 70vw;
}

table, th, td {
    text-align: left;
    border: 1px solid;
    padding: 0.25rem 0.75rem;
    font-family: "Open Sans", Arial;;
    margin: 40px 0;
}

thead tr th:first-child,
tbody tr td:first-child {
    width: 80%;
    min-width: 80%;
    max-width: 80%;
    word-break: break-all;
}

ol > li::marker {
  font-weight: 600;
}


.map {
    height: 120vh;
    width: 100vw;
    background-color: white;
    filter: saturate(0.5);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


@media (orientation: portrait), (max-width: 1024px) {
    body {
        line-height: 1.5;
    }

    header {
        padding: 40px 30px 12vh 30px;
    }

    header .navigation {
        display: block;
        max-width: 85vw;
        margin: 0 auto;
    }

    header .navigation.main {
        display: none;
    }

    header .navigation.main.mobile {
        display: block;
    }

    img {
        padding: 0;
    }

    .overlay {
        max-width: unset;
        color: black;
        padding: 7.5vw;
        background: #fafafa;
        top: 0;
        font-weight: unset;
        line-height: unset;
        font-size: unset;
    }

    .overlay h2 {
        padding: 0;
        line-height: 1.3;
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-weight: 700;
        font-size: 5vw;
    }

    header .navigation.main.mobile summary {
        display: flex;
        background: none;
        overflow: hidden;
        border: 0;
        cursor: pointer;
        flex-direction: row;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        border-bottom: unset;
        font-weight: unset;
    }

    header .navigation.main.mobile summary:hover {
        text-decoration: 0px underline dotted;
    }

    body > header > nav.navigation.main > a:nth-child(2),
    body > header > nav.navigation.main > a:nth-child(3),
    body > header > nav.navigation.main > a:nth-child(4),
    body > header > nav.navigation.main > a:nth-child(5) {
        display: none;
    }

    header .navigation.main.mobile a {
        height: unset;
    }

    header .navigation.main.mobile .details-content a {
        margin-top: 0.5rem;
        display: block;
    }

     header .navigation.main.mobile a.active {
        border-bottom: 0px;
        margin-bottom: 0px;
    }

    header .navigation a p {
        font-size: clamp(10px, 11px + 1vw, 16px);
        line-height: 1.3;
    }

    header .navigation.secondary {
        display: none;
    }

    header .body {
        display: block;
        height: unset;
        max-width: 85vw;
        margin: 0 auto;
    }

    header .body .container {
        width: unset;
        height: unset;
        display: block;
        margin-top: 4rem;
    }

    header .body .container .item3 {
       display: none;
    }

    header .body .container .item4 {
       display: none;
    }

    header .body .container .cpu-image {
        width: 100%;
        margin-left: 0vh;
        border: unset;
        padding: 0px;
    }

    header .body .overlay2 {
        border: unset;
        position: unset;
        padding: 0;
        width: 100%;
        border-top: unset;
        margin-top: 4rem;
    }

    header .body .overlay2 p {
        font-size: clamp(10px, 11px + 1vw, 16px);
        line-height: 1.3;
        letter-spacing: -0.5px;
        font-weight: 500;
    }

    header .body .overlay2 h1 {
        line-height: 1.35;
    }

    header .body .overlay2 .container2 ol {
        font-size: clamp(10px, 10px + 0.7vw, 14px);
        line-height: 1.5;
    }

    header .body .overlay2 .container2 p.label {
        font-size: clamp(10px, 10px + 0.7vw, 14px);
        line-height: 1.35;
        margin-bottom: 1rem;
        font-weight: 400;
        text-transform: uppercase;
    }

    header .body .overlay2 .container2 p {
        font-size: clamp(10px, 10px + 0.7vw, 14px);
        line-height: 1.35;
        margin-bottom: 1rem;
    }

    header .body .overlay2 .container2 ol li p {
        font-size: clamp(10px, 10px + 0.7vw, 14px);
        line-height: 1.35;
        margin-bottom: 1rem;
    }

    header .body .overlay2 .container2 {
        display: block;
    }

    header hr {
        display: none;
    }

    main {
        padding: 12vh 10px;
    }

    main .body {
        max-width: 85vw;
    }

    main hr {
        margin: 100px auto;
        margin-top: 110px;
        height: 0px;
        border-top: 1px solid;
        display: block;
        width: 25%;
    }

    main .part .title {
        font-size: 10vw;
    }

    main .part p {
        margin: 0 0 1rem;
    }

    main .part .introduction {
        font-size: clamp(12px, 12px + 1vw, 18px);
        line-height: clamp(18px, 20px + 1vw, 36px);
        margin: 3rem 0 1rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    main .part .link-container {
        margin-top: 30px;
    }

    main .part .link-container a {
        font-size: clamp(12px, 12px + 0.4vw, 16px);
    }

    main .part .container {
        margin-top: 2rem;
        grid-template-columns: 1fr 4fr;
        grid-column-gap: 0px;
        display: block;
    }

    main .part .container.type1 {
        margin-top: 2rem;
    }

    main .part .container.type2 {
        display: grid;
        grid-template-columns: unset;
        grid-row-gap: 6rem;
        margin-top: 6rem;
    }

    main .part .container.type3 {
        display: grid;
        grid-template-columns: unset;
        grid-row-gap: 3rem;
    }

    main .part .container.type3 h3 {
        font-size: 6vw;
    }

    main .part .container.type2 h3 {
        font-size: 6vw;
    }

    main .part .container.type3 .swap {
        grid-row-start: 1;
    }

    main .part .container.type3.split {
        grid-row-gap: 10rem;
    }

    main .body .wrapper2 {
        width: 70vw;
        display: block;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-top: 115px;
        grid-column-gap: 120px;
    }

    footer {
        padding: 6vh 10px 50px 10px;
    }

    footer .body {
        display: block;
        max-width: 85vw;
        width: fit-content;
    }

    footer .body .part {
        display: block;
    }

    footer .body .part .container {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }

    footer .body .part .container div {
        margin-top: 3rem;
    }

    footer .body .part .container h3 {
        font-size: clamp(10px, 10px + 1vw, 16px);
        line-height: 1.35;
    }

    footer .body .part .container img {
        margin-top: 1rem;
    }

    footer .body .part .container ul li {
        padding: 4px 4px 4px 0px;
    }

    footer .body .part .container ul li a {
        font-size: 14px;
        line-height: 1.35;
    }

    summary:hover {
        text-decoration: unset;
        text-underline-offset: 10px;
    }

    details[open] summary {
        padding-bottom: 1.5rem;
        border-bottom: unset;
        text-decoration: unset;
        text-underline-offset: 10px;
    }

    .tabbed {
        margin-top: 2rem;
    }

    .tabs {
        overflow-x: scroll;
        overflow-y: hidden;
        border-bottom: 0px solid #000;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: unset;
        cursor: unset;
        display: none;
    }

    .tab > label {
        padding: 0.75rem 1.25rem;
        width: max-content;
        font-size: 14px;
    }

    .tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
    .tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
    .tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
    .tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
        display: block;
        padding: 1rem 0;
    }
}
